html {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0) linear-gradient(20deg, #001f3f, #111111) no-repeat fixed;
}


.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 650px;
    margin: auto;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.centered {
    transform: translateY(100%);
}

#main-header-text {
    font-size: calc(14px + 1.1vmin);
    color: white;
    margin: 5vh;
}

.header-text {
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 2vh;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-input {
    text-align: center;
    height: calc(10px + 6vh);
    padding: 0.3vh 0 0;
    border: none;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: calc(10px + 2vh);
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: white;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.text-input:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.search-result {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: calc(10px + 2vh);
    color: white;
    border: 0;
    border-radius: 3px;
    margin: 0.4vh 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4) repeat scroll 0% 0%;
}

.result-header {
    padding: calc(5px + 0.5vh);
    flex-direction: column;
    margin-top: 0.6vh;
}

.result-button {
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: scroll;
}

button {
    cursor: pointer;
}

.generic-button {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-size: 20px;
    padding: 7px 20px 10px;
    margin: 15px auto;
}

.roulette-content {
    display: flex;
    flex-direction: column;
}

.button-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    max-height: calc(100px + 2vh);
    flex: 1
}

.result-button img {
    max-height: calc(100px + 2vh);
}

.search-title {
    flex: 8;
    padding-left: calc(15px + 2vw);
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-year {
    font-size: 80%;
    flex: 1;
    padding-right: calc(10px + 2vw);
    padding-top: 15px;
    padding-bottom: 15px;
}

.roulette {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.picked-show-result {
    margin-bottom: 10px;
}

.picked-show-result img {
    max-width: 100%;
    max-height: 50vh;
}

.episode-info {
    display: flex;
    flex-direction: column;
	font-size: 18px;
	margin: 20px 0px 0px;
	color: white;
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
	cursor: default;
	border-radius: 5px;
	padding: 15px;
}

.episode-image {
    margin-top: 20px;
}

.episode-image img {
    max-width: 100%;
}

.episode {
    display: flex;
    flex-direction: column;
}

.episode-container {
    margin-bottom: 15px;
}

.episode-text {
    padding: 25px;
}